
venv/
ENV/
env/
.venv/


__pycache__/
*.py[cod]
*.pyo


.vscode/
.idea/


.DS_Store
Thumbs.db


*.log
*.tmp


*.env
.env.*
*.local


.ipynb_checkpoints/


*.zip
*.tar.gz
*.egg
*.whl


Pipfile.lock
poetry.lock
